
* {box-sizing: border-box;}

body {
  font-family: 'Fira Mono', monospace;
  padding: 5px;
}

body h1 {
  margin-top: 0;
}

#board {
  display: inline-grid;
  grid-gap: 2px;
}

span.space {
  color: #ccb;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

div#messages {
  margin: 30px 10px;
}

