
* {box-sizing: border-box;}

body {
  font-family: 'Fira Mono', monospace;
  padding: 5px;
}

body h1 { margin-top: 0; }

#board {
  display: inline-grid;
  grid-gap: 2px;
}

span.space {
  color: #bbb;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #bbb;
  border-radius: 50%;
  cursor: default;
  transition: .15s;
}

span.space.available {
  border-color: black;
  cursor: pointer;
}

span.space.available:hover {
  transform: scale(1.1);
}

span.space.blue {
  border-color: #709ef9;
  background: #709ef9;
  color: black;
}

span.space.red {
  border-color: #f97b70;
  background: #f97b70;
  color: black;
}

div#messages { margin: 30px 10px; }

